DISCORD_TOKEN=
DEFAULT_TRANSLATION=sample_pt
DATABASE_FILE_NAME=saint_jerome.db
LITURGY_API_BASE_URL=https://liturgia.up.railway.app/v2/
LITURGY_REQUEST_TIMEOUT_SECONDS=15
DEFAULT_TIMEZONE=America/Sao_Paulo
SYNC_COMMANDS_ON_STARTUP=true
